<!-- card-3 -->
<div class="card card-body m-2 shadow rounded-3">
    <img src="https://images.samsung.com/is/image/samsung/in-galaxy-f41-f415fz-6gb-sm-f415fzbgins-sm-f---fzbdins-314816801?$684_547_PNG$" alt="This image might be removed">
    <div class="container d-flex justify-content-around">
        <h1 class="d-inline">Galaxy F41</h1>
        <button class="btn btn-secondary w-50 h-25 mt-5" data-bs-toggle="modal" data-bs-target="#btn3">Specs</button>
    </div>
</div>

<!-- modal-3 -->
<div class="modal" id="btn3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <img src="https://images.samsung.com/is/image/samsung/in-galaxy-f41-f415fz-6gb-sm-f415fzbgins-sm-f---fzbdins-314816801?$684_547_PNG$" class="w-100 h-100">
                    </div>
                    <div class="col-7">
                    <button type="button" class="btn-close float-end m-2 bg-danger" data-bs-dismiss="modal"></button>
                    <p class="h5"><br>Brand: Samsung</p>
                    <p class="h5">Model: Galaxy F41</p>
                    <p class="h5">Storage: 128GB</p>
                    <p class="h5">RAM: 6GB</p>
                    <p class="h5">Camera: 64MP+8MP</p>
                    <p class="h5">Price:  ₹16499</p>
                    <button class="btn float-end" style = "background-color: #FFA41C">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
