<div class="container">

    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

        <!-- first child -->
        <div class="col">
            <app-productdetails1></app-productdetails1>
        </div>

        <!-- second child -->
        <div class="col">
            <app-productdetails2></app-productdetails2>
        </div>

        <!-- third child -->
        <div class="col">
            <app-productdetails3></app-productdetails3>
        </div>

        <!-- fourth child -->
        <div class="col">
            <app-productdetails4></app-productdetails4>
        </div>

        <!-- fifth child -->
        <div class="col">
            <app-productdetails5></app-productdetails5>
        </div>
        
        <!-- sixth child -->
        <div class="col">
            <app-productdetails6></app-productdetails6>
        </div>

    </div>

</div>